<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{admin/common/header :: header}"></th:block>
</head>
<body class="no-skin" style="font-family: 'Abel', sans-serif;">
<th:block th:replace="~{admin/common/menu :: menu}"></th:block>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <th:block th:replace="~{admin/common/sidebar :: sidebar}"></th:block>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Trang chủ</a>
                    </li>
                    <li class="active">Reset Password</li>
                </ul><!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- MESSAGE -->
                        <div th:if="${messageResponse != null}"
                             class="alert alert-block"
                             th:classappend="' alert-' + ${alert}">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            <span th:text="${messageResponse}"></span>
                        </div>
                        <!-- FORM -->
                        <form id="formChangePassword" class="form-horizontal" name="formChangePassword">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Mật khẩu cũ</label>

                                <div class="col-sm-5 text-center">
                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword"/>
                                    <span class="error-message" id="noOldPassword"
                                          style="display: none;color: red;">Vui lòng nhập mật khẩu cũ</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Mật khẩu mới</label>

                                <div class="col-sm-5 text-center">
                                    <input type="password" class="form-control" id="newPassword" name="newPassword"/>
                                    <span class="error-message" id="noNewPassword"
                                          style="display: none;color: red;">Vui lòng nhập mật khẩu mới</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Nhập lại mật khẩu mới</label>

                                <div class="col-sm-5 text-center">
                                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"/>
                                    <span class="error-message" id="noConfirmPassword"
                                          style="display: none;color: red;">Vui lòng nhập lại mật khẩu mới</span>
                                </div>
                            </div>
                            <!-- BUTTONS -->
                            <div class="form-group">
                                <div class="col-sm-12 text-center">
                                    <button type="button"
                                            class="btn btn-white btn-danger btn-bold"
                                            id="btnChangePassword">
                                         Đổi mật khẩu
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" id="userId" th:value="${user.id}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{admin/common/footer :: footer}"></th:block>
<th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>
<script>
    function resetErrorMessages() {
        document.getElementById("noOldPassword").style.display = "none";
        document.getElementById("noNewPassword").style.display = "none";
        document.getElementById("noConfirmPassword").style.display = "none";
    }

    function validateData(json) {
        resetErrorMessages(); // reset all error messages
        let isValid = true;
        if (json['oldPassword'] === '') {
            document.getElementById("noOldPassword").style.display = "block";
            isValid = false;
        }
        if (json['newPassword'] === '') {
            document.getElementById("noNewPassword").style.display = "block";
            isValid = false;
        }
        if (json['confirmPassword'] === '') {
            document.getElementById("noConfirmPassword").style.display = "block";
            isValid = false;
        }
        return isValid;
    }
    $('#btnChangePassword').click(function (e){
        e.preventDefault();
        const formData = $('#formChangePassword').serializeArray();
        const dataObj = {};
        $.each(formData, function (i, v) {
            dataObj["" + v.name + ""] = v.value;
        });
        if (!validateData(dataObj)) return;
        changePassword(dataObj, $('#userId').val());
    });

    function changePassword(data, id) {
        $.ajax({
            url: '/users/password/'+id,
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (res) {
                alert('Done')
            },
            error: function (res) {
                console.log(res);
            }
        });
    }
</script>
</body>
</html>