<div class="menu-container" th:fragment="menu"
     xmlns:th="http://www.thymeleaf.org"
>
    <div id="navbar"
         class="navbar navbar-default ace-save-state navbar-fixed-top"
         style="background-color:#35bf76">

        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- Logo / Brand -->
            <div class="navbar-header pull-left">
                <a th:href="@{/}" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Trang quản trị
                    </small>
                </a>
            </div>

            <!-- User dropdown -->
            <div class="navbar-buttons navbar-header pull-right">
                <ul class="nav ace-nav">
                    <li class="light-10">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" alt="avatar"
                                 th:src="@{|/admin/users/userImage?userName=${#authentication.name}|}"/>
                            <span class="user-info">
                                <small>Welcome,
                                    <span th:text="${#authentication.name}"></span>
                                </small>
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a th:href="@{|/admin/users/${#authentication.name}|}"><i class="ace-icon fa fa-user"></i> Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/user/change-password.html}"><i class="ace-icon fa fa-key"></i> Đổi mật khẩu</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{/login}">
                                    <i class="ace-icon fa fa-power-off"></i> Thoát
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
